body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 250px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

input {
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

input[type="submit"] {
  display: inline-block;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.form__block {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  position: relative;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

form >div {
  margin-bottom: 40px;
}
form >div>label {
  margin-bottom: 15px;
}
label, p {
  text-transform: uppercase;
}
.first_form label {
  float: left;
  margin-left: 5%;
}
.date__input {
  width: 100px;
  height: 20px;
}
.date__input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 20px;
  padding-left: 40px;
}
.hr {
  height: 2px;
  width: 100%;
  margin: 50px 0 0;
  background-color: #ccc;
}

.previous, .next {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #ccc;
  line-height: 50px;
}

.next {
  padding-right: 3%;
  color: blue;
}
.previous {
  float: left;
  padding-left: 3%;
}
.click .previous {
  text-align: left;
}

.click {
  height: 50px;
  text-align: right;
}

.previous:hover, .next:hover {
  color: #000;
  transition: .3s, ease-in-out;
}

i {
  border: solid blue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.next:hover i {
  border-color: black;
}
.title {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
}
.title p {
  text-transform: capitalize;
}
span {
  position: absolute;
  right: 1%;
}

.next_finish {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 50px;
}

.ok {
  width: 150px;
  height: 150px;
  margin: 0 auto 50px;
  background-image: url("img/ok.png");
  background-position: center center;
  background-size: contain;
}

.date__input {
  display: inline-block;
}

.date_wrapper >label {
  display: block;
}

.gender label {
  position: relative;
  display: inline-block;
  width: 100px;
  margin: 4px;
  background-color: #EFEFEF;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  overflow: auto;
}

.gender label span {
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gender label input  {
  background: transparent;
}
.gender input:checked + span {
  background-color: blue;
  color:#fff;
}

.error_red {
  color: red;
}
.hear__wrapper {
  height: 20px;
}
.hear__wrapper label {
  display: inline-block;
  margin-bottom: 15px;
}
.hear__wrapper select {
  width: 65.5%;
}
.red {
  color: red;
}

.progress {
  width: 100%;
  height: 15px;
  margin-bottom: 80px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bar_1 {
  width: 33.3%;
  background-color: blue;
  height: 15px;
}
.bar_2 {
  width:66.6%;
  background-color: blue;
  height: 15px;
}
.bar_3 {
  width: 100%;
  background-color: blue;
  height: 15px;
}